@import "./partials/front";
@import "./partials/variable";
@import "./partials/mixin";

.contact-map {
    text-align: center;
    margin-top: 100px;

    .contact-map-text {
        padding: 180px 0;
        background-color: #e8eaed;

        h2 {
            margin: 5px;
            margin-bottom: 20px;
            color: #3c4043;
            font-size: 24px;
        }

        p {
            margin: 5px;
            font-size: 15px;
            color: #3c4043;

        }
    }
}

.contact {
    margin-top: 100px;
    margin-bottom: 100px;

    .contact-title {
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .form-contact {
        .form-group {
            margin-bottom: 30px;
            .form-control{
                border: 1px solid #ddd;
                &:focus{
                    box-shadow: none;
                }
            }

            .btn-send-message {
                border: 1px solid #B08EAD;
                color: #B08EAD;
                padding: 12px 25px;
                border-radius: 5px;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 400;

                &:hover {
                    transition: all 0.8s ease;
                    background-color: #B08EAD;
                    color: #fff;
                }
            }
        }

    }

    .contact-info {
        margin-bottom: 25px;
        display: flex;
        align-items: start;

        .contact-info-icon {
            margin-right: 25px;
            position: relative;
            top: 13px;
        }
        .contact-info-text{
            h3{
                font-size: 16px;
                color: #2a2a2a;
                line-height: 1.5;
            }
            p{
                color: #8a8a8a;
                line-height: 1;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}